body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  margin: 30px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  padding: 30px;
}

.slider {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.addSliderButton {
  width: 100%;
  height: 30px;
  background: wheat;
  border: 1px solid lightcoral;
  border-radius: 6px;
}
